/* All IDs
 * about-me
 * current-status
 * name
 * self-desc
 * rpdu
 * posn-title
 * posn-body
 * goals
 * 
 * 
 * 
 */

/*
cursive; comic sans. 
fantasy; times new roman
monospace; nice boxy font
*/
html {
    background-color: black;
}

body {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: darkcyan;
    font-family:monospace;
    /*font-family: monospace;*/
}

/* Standard Items */
a, p, ul, li, h1, h2, h3 {
    /*color: rgb(247, 134, 247); lighter*/
    color: rgb(194, 97, 194);
    font-size: 16pt;
}

/* Specific Edits */
#delete {
    font-size: 20pt;
}

#about-me, #rpdu {
    padding-top: 16pt;
    /*color: rgb(247, 134, 247);*/
}

a:link {
    color:aqua;
    color:blue;
    color:blueviolet;
    color:brown;
    color:darkblue;
    color:darkgreen;
    color:darkmagenta;
    color:darkviolet;
    color:deeppink;
    color:forestgreen;
    color:fuchsia;
    color:gold;
    color:goldenrod;
    color:hotpink;
    color:indigo;
    color:limegreen;
    color:maroon;
    color:mediumblue;
    color:mediumvioletred;
    color:midnightblue;
    color:purple;
}
a:hover {
    color: aliceblue;
}
a:visited {
    color: cadetblue;
}
a:active {
    color: bisque;
}
