/* All IDs
 * about-me
 * current-status
 * name
 * self-desc
 * rpdu
 * posn-title
 * posn-body
 * goals
 * 
 * 
 * 
 */

/*
cursive; comic sans. 
fantasy; times new roman
monospace; nice boxy font
*/

body {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: purple;
    font-family:'Times New Roman';
    /*font-family: monospace;*/
}

#about-me {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkcyan;
}

#rpdu {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkgoldenrod;
}