/* All IDs
 * about-me
 * current-status
 * name
 * self-desc
 * rpdu
 * posn-title
 * posn-body
 * goals
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 */

body {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: purple;
    font-family: monospace;
    /* cursive; comic sans. fantasy; times new roman
    monospace; 
    */
}

#full-body {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: darkcyan;
    font-family: monospace;
    /* cursive; comic sans. fantasy; times new roman
    monospace; 
    */
}

#about-me {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: darkcyan;
    font-family: cursive;
    /* cursive; comic sans. fantasy; times new roman
    monospace; 
    */
}

#rpdu {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    color: darkcyan;
    font-family: cursive;
    /* cursive; comic sans. fantasy; times new roman
monospace; 
*/
}