/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
body {
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    /* padding-left: 80px;
    padding-right: 80px; */
    background-color: rgb(5, 73, 73);
    font-family: monospace;
    line-height: 1.6;
    /* Flex */
    display: flex;
    flex-direction: column;
    /* colour? */
    color: gold;
    font-size: 100%;
}

.nav {
    display: block;
    /* font-size: 14pt; */
    font-size: 1.2rem;
    border-color: goldenrod;
    border-width: 3px;
}

/* Standard Items */
a,
p,
ul,
li,
text {
    /* color: gold; */
    /* font-size: 20pt; */
    font-size: 1.3rem;
}

/* Specific Text Edits */
h1 {
    /* font-size: 32pt; */
    font-size: 1.6rem;
}

h2 {
    /* font-size: 28pt; */
    font-size: 1.5rem;
}

h3 {
    /* font-size: 24pt; */
    font-size: 1.4rem;
}

h4 {
    /* font-size: 22pt; */
    font-size: 1.3rem;
    padding-left: 5%;
    padding-right: 5%;
}

p {
    /* padding: 2%; */
    padding-left: 5%;
    padding-right: 5%;
}

figcaption {
    font-size: 1rem;
}

/* Link Colours */
a:link {
    color: aqua;
}

a:hover,
a:visited:hover {
    color: aliceblue;
    /*create border?*/
}

a:visited {
    /* color: cadetblue; */
    color: burlywood;
}

a:active {
    color: bisque;
}


/* hr lines */
hr {
    /* border: 0; */
    border: 1;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    color: antiquewhite;
}

.pill {
    height: 0px;
    border-radius: 2px;
    color: gold;
    border: 2px solid currentColor;
    width: 80%;
}

/* Flex */
.horizontal {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.left {
    align-items: flex-start;
    justify-content: space-evenly;
}

#overview {
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
}

/* Image Sizing */
img {
    padding: 2%;
}

.two_hundred {
    height: 200px;
    width: auto;
}

.percent {
    width: 90%;
    height: auto;
}

/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
#ops_logo_container {
    /* padding-top: 32%; */
    width: 40%;
}

#ops_logo {
    /* width: 95%; */
    width: 100%;
    height: auto;
    /* margin: 5%; */
    /* align-self: center;
    justify-content: center; */
}

/* (A) FIXED IMAGE DIMENSIONS */
.fixed_dimensions {
    border: 2px solid goldenrod;
    /* width: 500px; */
    width: 300px;
    height: 200px;
}

/* (B) RESIZE BEHAVIOR */
.fixed_dimensions.contain {
    object-fit: contain;
}

/* .fixed_dimensions.cover {
    object-fit: cover;
} */

/* .fixed_dimensions.scale {
    object-fit: scale-down;
} */

/* .fixed_dimensions.fill {
    object-fit: fill;
} */