html {
    font-size: 100%;
}

/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */
body {
    max-width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(5, 73, 73);
    font-family: monospace;
    line-height: 1.4;
    /* Flex */
    display: flex;
    flex-direction: column;
    /* colour? */
    color: gold;
    font-size: 100%;
}

.nav {
    display: block;
    /* font-size: 14pt; */
    /* font-size: 1.2rem; */
    border-color: goldenrod;
    border-width: 3px;
}

/* Standard Items */
@media (min-width: 800px) {
    /* .nav {
        /* font-size: 14pt; 
        font-size: 1.2rem;
    } */

    a,
    p,
    ul,
    li,
    text,
    .nav {
        /* font-size: 20pt; */
        font-size: 1.3rem;
    }

    figcaption {
        font-size: 1.2rem;
    }

    /* Specific Text Edits */
    h1 {
        /* font-size: 32pt; */
        font-size: 1.7rem;
    }

    h2 {
        /* font-size: 28pt; */
        font-size: 1.6rem;
    }

    h3 {
        /* font-size: 24pt; */
        font-size: 1.5rem;
    }

    h4 {
        /* font-size: 22pt; */
        font-size: 1.3rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}

p {
    padding-left: 5%;
    padding-right: 5%;
}

/* Link Colours */
a:link {
    color: aqua;
}

a:hover,
a:visited:hover {
    color: aliceblue;
    /*create border?*/
    font-weight: 600;
}

a:visited {
    color: burlywood;
}

a:active {
    color: bisque;
}


/* hr lines */
hr {
    border: 1;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    color: antiquewhite;
}

.pill {
    height: 0px;
    border-radius: 2px;
    color: gold;
    border: 2px solid currentColor;
    width: 80%;
}

/* Flex */
@media (min-width:800px) {
    .horizontal {
        display: flex;
        flex-direction: row;
    }
}

/* Keep horizontal always */
.special_horizontal {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: space-evenly;
}

.left {
    align-items: flex-start;
}

/* Flex for Specific Items */
#overview {
    align-items: flex-start;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}

/* Image Formatting and Sizing */
figure {
    /* https://stackoverflow.com/questions/17079552/how-to-add-frame-border-around-new-figure-element-in-html5 */
    /* faded gold border colour */
    border: 2px solid rgba(255, 215, 0, 0.3);
    padding: 5px;
    border-radius: 0.5rem;
}

img {
    padding: 2%;
}

#rpdu_logo_container {
    /* padding-right: 10px; */
    padding-right: 5%;
    /* max-height: 2%; */
    max-height: 100px;
}

#rpdu_logo {
    border-radius: 50%;
}

/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
#ops_logo_container {
    /* padding-bottom: 32%; */
    width: 60%;
    height: calc(32%);
    padding-bottom: 1%;
}

#FIFA_logo {
    background-color: #1874c4;
    border-radius: 0.5rem;
    /* max-height: 2%; */
    max-height: 100px;
}

#drop_the_pen_logo {
    /* max-height: 2%; */
    max-height: 100px;
}

.two_hundred {
    height: 200px;
    width: auto;
}

.three_hundred {
    height: 300px;
    width: auto;
}

.tall_img {
    width: 200px;
    height: auto;
}

.percent {
    width: 90%;
    height: auto;
}

@media (min-width:800px) {
    .width_30 {
        width: 30%;
    }

    .width_40 {
        width: 40%;
    }

    .width_50 {
        width: 50%;
    }

    .width_60 {
        width: 60%;
    }
}

/* Video */
video {
    /* width="800" height="500" */
    max-width: 60%;
    height: auto;
    height: var(calc(5 / 8 * 100%));
    margin-bottom: 5%;
    /* Resource just for future uses of video
    https://www.w3schools.com/tags/tag_video.asp */
}

/* horizontal class is vertical when the screen is too small */
@media (max-width:799px) {

    /* Font font hard-set */
    a,
    p,
    ul,
    li,
    text,
    .nav {
        /* font-size: 20pt; */
        /* font-size: 1.3rem; */
        font-size: 12pt;
    }

    figcaption {
        font-size: 10pt;
        /* font-size: 1.2rem; */
    }

    /* Specific Text Edits */
    h1 {
        /* font-size: 32pt; */
        /* font-size: 1.7rem; */
        font-size: 18pt;
        font-weight: bold;
        padding-left: 5px;
    }

    h2 {
        /* font-size: 28pt; */
        /* font-size: 1.6rem; */
        font-size: 18pt;
    }

    h3 {
        /* font-size: 24pt; */
        /* font-size: 1.5rem; */
        font-size: 16pt;
    }

    h4 {
        /* font-size: 22pt; */
        /* font-size: 1.3rem; */
        font-size: 16pt;
        font-style: italic;
        padding-left: 5%;
        padding-right: 5%;
    }

    .horizontal {
        display: flex;
        flex-direction: column;
    }

    video {
        max-width: 90%;
        height: auto;
        height: var(calc(5 / 8 * 100%));
        margin-bottom: 5%;
    }

    /* image adjusting */
    .two_hundred,
    .three_hundred,
    .tall_img,
    .percent {
        height: auto;
        width: 90%;
    }
}