/* https://stackoverflow.com/questions/51741141/media-queries-with-edge-css-hack */
/* @supports (-ms-ime-align: auto)  */
/* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
/* https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center */

html {
  font-size: 14pt;
}

body {
  max-width: 1000px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(5, 73, 73);
  font-family: monospace;
  line-height: 1.4;
  color: gold;
  display: flex;
  flex-direction: column;
}

/* Standard/Default Text Styling */
h1,
h2,
h3,
a,
p,
ul,
li,
text,
figcaption {
  color: gold;
  font-size: 1rem;
}

figcaption {
  font-size: 0.9rem;
}

p {
  padding-left: 3%;
  padding-right: 3%;
}

h1 {
  font-size: 2.4rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.4rem;
  font-style: italic;
  padding-left: 3%;
  padding-right: 3%;
}

#nav {
  display: block;
  border-color: goldenrod;
  border-width: 3px;
}

/* @media (min-width: 1001px) { */
#nav h2 {
  padding-left: 15%;
}

#nav li {
  list-style-type: none;
}

#intro {
  padding-left: 5%;
}

/* Link Colours */
a:link {
  color: aqua;
}

a:hover,
a:visited:hover {
  color: aliceblue;
  font-weight: 600;
  text-decoration: underline;
}

a:visited {
  color: burlywood;
}

a:active {
  color: bisque;
}

svg {
  fill: aqua;
  padding-left: 2px;
}

/* hr lines */
hr {
  border: 1;
  margin: 1.35rem auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
  color: antiquewhite;
}

.pill {
  height: 0px;
  border-radius: 2px;
  color: gold;
  border: 2px solid currentColor;
  width: 80%;
}

/* Flex: Justify Contents */
.center {
  align-items: center;
  justify-content: space-evenly;
}

/* Flex: Allow for vertical sections */
.vertical {
  display: flex;
  flex-direction: column;
}

/* Flex: Exception to mobile rule of everything vertical */
.special_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Figure/Image Styling */
figure {
  /* https://stackoverflow.com/questions/17079552/how-to-add-frame-border-around-new-figure-element-in-html5 */
  /* faded gold border colour */
  border: 2px solid rgba(255, 215, 0, 0.3);
  padding: 5px;
  border-radius: 0.5rem;
}

/* image adjusting */
img {
  height: auto;
  width: 100%;
}

.image_container {
  max-width: 95%;
}

.image_container_small {
  max-width: 10%;
}

#jira {
  /* max-width: 100%; */
  width: 100%;
  height: 70%;
  background-color: lightblue;
  padding-left: 1%;
  margin-left: 30%;
  margin-top: 9%;
}

.myEclipse {
  /* max-width: 100%; */
  width: 100%;
  height: auto;
  padding-left: 1%;
  margin-left: 30%;
}

#clock {
  /* max-width: 50%; */
  width: 50%;
  height: auto;
  margin-left: 30%;
  margin-top: 9%;
  background-color: lightblue;
  border-radius: 50%;
  padding-left: 1%;
}

#pen_and_paper {
  /* max-width: 50%; */
  width: 50%;
  height: auto;
  margin-left: 30%;
  margin-top: 9%;
  background-color: lightblue;
  border-radius: 10%;
  padding: 1%;
}

.goal h4 {
  min-width: 21%;
}

.goal p {
  padding-left: 0;
}

.one_line {
  align-items: center;
}

/* Flex: Allow rows on desktop/wider screens */
.horizontal {
  display: flex;
  flex-direction: row;
}

/* Mobile */
/* @media screen and (max-width: 1000px) { */
@media (max-width: 1000px) {
  h1 {
    /* font-size: 1.9rem; */
    font-size: 1.2rem;
  }

  h2 {
    /* font-size: 1.6rem; */
    font-size: 1.1rem;
  }

  h3,
  h4 {
    /* font-size: 1.4rem; */
    font-size: 1rem;
  }

  a,
  p,
  ul,
  li,
  text {
    /* font-size: 1.2rem; */
    font-size: 0.9rem;
  }

  figcaption {
    /* font-size: 1.1rem; */
    font-size: 0.8rem;
  }

  #nav h2 {
    padding-left: 5%;
  }

  video {
    max-width: 90%;
    height: auto;
    height: var(calc(5 / 8 * 100%));
    margin-bottom: 5%;
  }

  /* Flex: Default: Only columns in mobile view */
  .horizontal {
    display: flex;
    flex-direction: column;
  }
}

/*background-color: darkcyan;*/
/*background-color: rgb(4, 102, 102);*/
/*background-color: cyan;*/
/*background-color: rgb(32, 230, 230);*/
/*background-color: rgb(231, 85, 163);*/

/*color: rgb(247, 134, 247); lighter*/
/*color: rgb(194, 97, 194);*/

/*a:link {
    color:aqua;
    color:aqua;
    color:blue;
    color:blueviolet;
    color:brown;
    color:darkblue;
    color:darkgreen;
    color:darkmagenta;
    color:darkviolet;
    color:deeppink;
    color:forestgreen;
    color:fuchsia;
    color:gold;
    color:goldenrod;
    color:hotpink;
    color:indigo;
    color:limegreen;
    color:maroon;
    color:mediumblue;
    color:mediumvioletred;
    color:midnightblue;
    color:purple;
}*/
