/*html {
    background-color: black;
}*/

body {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(5, 73, 73);
    font-family: monospace;
    line-height: 1.6;
}

/* Standard Items */
h1,h2,h3,a,p,ul,li,text {
    color: gold;
    font-size: 20pt;
}

table,tr {
    color: gold;
    font-size: 20pt;
    width: auto;
}
th,td {
    color: gold;
    font-size: 20pt;
    max-width: 30%;
}

/* Specific Edits */
h1 {
    font-size: 28pt;
}

h2 {
    font-size: 24pt;
}

/*#about-me, #rpdu {
    padding-top: 16pt;
    color: rgb(247, 134, 247);
}*/

/* Link Colours */

a:link {
    color: aqua;
}

a:hover {
    color: aliceblue;
}

a:visited {
    color: cadetblue;
}

a:active {
    color: bisque;
}

/* Table */
.table-bordered {
    border-color: limegreen;
    border-width: 2px;
}

/*background-color: darkcyan;*/
/*background-color: rgb(4, 102, 102);*/
/*background-color: cyan;*/
/*background-color: rgb(32, 230, 230);*/
/*background-color: rgb(231, 85, 163);*/

/*color: rgb(247, 134, 247); lighter*/
/*color: rgb(194, 97, 194);*/

/*a:link {
    color:aqua;
    color:aqua;
    color:blue;
    color:blueviolet;
    color:brown;
    color:darkblue;
    color:darkgreen;
    color:darkmagenta;
    color:darkviolet;
    color:deeppink;
    color:forestgreen;
    color:fuchsia;
    color:gold;
    color:goldenrod;
    color:hotpink;
    color:indigo;
    color:limegreen;
    color:maroon;
    color:mediumblue;
    color:mediumvioletred;
    color:midnightblue;
    color:purple;
}*/
